[mysqld]
character-set-server = utf8mb4
collation-server = utf8mb4_unicode_ci
default-time-zone = '-04:00'

# Suficiente para importar dumps grandes sin "MySQL server has gone away".
max_allowed_packet = 256M

innodb_file_per_table = 1
innodb_buffer_pool_size = 256M

[client]
default-character-set = utf8mb4
